body {
font-family: "Poppins", sans-serif;
background-color: #2C2C2E;
padding-bottom: 90px;
}

a {
color: black;
text-decoration: none;
}


.name-shop {
color: white;
font-weight: 700;
text-align: center;
font-size: 16px;
margin-top: 20px;
}

.logo {
width: 40px;
height: 40px;
border-radius: 50%;
margin-top: 10px;
}

.cover {
width: 94%;
height: 150px;
border-radius: 12px;
margin-top: 30px;
}

.hoodi22 {
width: 160px;
height: 170px;
border-radius: 10px;
}

.card1 {
position: absolute;
left: 18px;
top: 350px;
}

.pricehoodi22 {
color: white;
font-size: 17px;
position: absolute;
left: 5px;
top: 170px;
font-weight: 600;
}

.namehoodi22 {
color: white;
font-size: 17px;
position: absolute;
left: 5px;
top: 190px;
font-weight: 500;
}

.hoodi22-2 {
width: 160px;
height: 170px;
border-radius: 10px;
}

.card2 {
position: absolute;
left: 210px;
top: 350px;
}

.pricehoodi22-2 {
color: white;
font-size: 17px;
position: absolute;
left: 5px;
top: 170px;
font-weight: 600;
}

.namehoodi22-2 {
color: white;
font-size: 17px;
position: absolute;
left: 5px;
top: 190px;
font-weight: 500;
}



.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 75px;

    background: #111111;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid #2a2a2a;

    z-index: 9999;
}

.nav-item {
    border: none;
    background: transparent;

    color: #7a7a7a;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.nav-item .icon {
    font-size: 22px;
}

.nav-item span {
    margin-top: 4px;
    font-size: 12px;
}

.nav-item.active {
    color: #2ea6ff;
}

.fav-text {
color: white;
font-size: 28px;
font-weight: 700;
margin-top: 210px;
}

.favsub-text {
color: white;
font-size: 18px;
font-weight: 500;
margin-top: 15px;
}

.gotopurchases {
width: 220px;
height: 45px;
background-color: #3E88F7;
color: white;
text-align: center;
font-size: 17px;
margin-top: -10px;
border: none;
border-radius: 8px;
}


.cart-text {
color: white;
font-size: 28px;
font-weight: 700;
margin-top: 210px;
}

.cartsub-text {
color: white;
font-size: 15px;
font-weight: 500;
margin-top: 15px;
}

.gotopurchases-cart {
width: 220px;
height: 45px;
background-color: #3E88F7;
color: white;
text-align: center;
font-size: 17px;
margin-top: -10px;
border: none;
border-radius: 8px;
}

.nickname {
color: white;
font-size: 27px;
font-weight: 700;
margin-top: 100px;
}

.item {
width: 100%;
height: 34px;
margin-top: 50px;
color: white;
text-align: center; 
font-size: 17px;
font-weight: 700;
background-color: #111111;
padding-top: 6px;
border-radius: 10px;
}
